* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #663399;
}

button {
    border: none;
}

.top {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.fa-times {
    font-size: 4rem;
    color: #fff;
}

.top__count,
#top__time {
    font-size: 2rem;
    color: #fff;
    padding: 0.5rem;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
}

.qa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

.question {
    font-size: 4rem;
    color: #fff;
}

.answer {
    width: 100%;
}

.row {
    justify-content: center;
}

.answer__a,
.answer__b,
.answer__c,
.answer__d {
    font-size: 3rem;
    color: #fff;
    width: 32.5rem;
    height: 10rem;
    border-radius: 0.625rem;
    border: none;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24);
    justify-content: center;
}

.answer__a {
    background-color: #2f6dae;
}

.answer__b {
    background-color: #4d9da6;
}

.answer__c {
    background-color: #eca82c;
}

.answer__d {
    background-color: #a93e3e;
}

.answer__a:hover {
    background-color: #19497c;
}

.answer__b:hover {
    background-color: #32686e;
}

.answer__c:hover {
    background-color: #af7c1d;
}

.answer__d:hover {
    background-color: #812020;
}

.btn__control {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.fa-caret-square-left,
.fa-caret-square-right {
    color: antiquewhite;
    font-size: 5rem;
    margin: 1rem;
}

@media only screen and (max-width: 1000px) {
    * {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 10px;
    }
}

.check_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    font-size: 3rem;
    color: #fff;
    border-radius: 0.625rem;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24);
    text-align: center;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
    background-color: #00b359;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
    display: block;
}