<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5 align-self-center container-blue">
                <div class="box">
                    <h1 class="h1-login">Login</h1>
                    <p class="p-error" th:if="${error}" th:text="${error}"></p>
                    <form class="my-2" th:action="@{/login-process}" method="POST">
                        <div class="form-group">
                            <p>Username</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="text" class="form-input" name="username" placeholder="Type your username" required="true" autofocus="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Password</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="password" class="form-input" name="password" placeholder="Type your password" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between m-0">
                            <a th:href="@{/signup}"><p class="p-login-question">I don't have account...</p></a>
                            <p class="p-login-question">Forgot password?</p>
                        </div>
                        <button type="submit" class="gradient-button">Login</button>
                    </form>
                    <p class="p-login-with">Or</p>
                    <p class="p-login-with">Login with</p>
                    <div class="row justify-content-center my-2">
                        <img class="px-2" src="https://img.icons8.com/color/48/000000/facebook-circled--v1.png"/>
                        <img class="px-2" src="https://img.icons8.com/color/48/000000/google-logo.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:if="${error}">
        document.getElementsByClassName("container-blue").item(0).style.backgroundColor="BlanchedAlmond";
    </script>
  
</body>
</html>