<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" type="text/css" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}"
        type="text/css" />
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/signup.css}" type="text/css">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5 align-self-center container-blue">
                <div class="box">
                    <h1 class="h1-login">Signup</h1>
                    <p class="p-error" th:if="${error}" th:text="${error}"></p>
                    <p class="p-success" th:if="${success}" th:text="${success}"></p>
                    <form class="my-2" th:action="@{/signup}" method="POST" th:object="${account}">
                        <div class="form-group">
                            <p>First Name</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-id-card" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="text" class="form-input" th:field="*{firstName}"
                                        placeholder="Type your first name" required="true" autofocus="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Last Name</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-id-card" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="text" class="form-input" th:field="*{lastName}"
                                        placeholder="Type your last name" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Date of birth</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="date" class="form-input" th:field="*{doB}"
                                        placeholder="Type your username" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Email</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="email" class="form-input" th:field="*{email}"
                                        placeholder="Type your email" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Username</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="text" class="form-input" th:field="*{username}"
                                        placeholder="Type your username" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Password</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="password" class="form-input" th:field="*{password}"
                                        placeholder="Type your password" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>Re-enter password</p>
                            <div class="row row-input">
                                <div class="col-1 m-2">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </div>
                                <div class="col pr-0">
                                    <input type="password" class="form-input" name="rePassword"
                                        placeholder="Re-enter your password" required="true">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="gradient-button">Signup</button><br><br>
                        <!-- <div class="row justify-content-between m-0"> -->
                            <a th:href="@{/login}"><p class="p-login-question">I've already have an account</p></a>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>